
<head>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
   integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<br>
<br>
<br>
<br>
<br>
<br>

    <div class="container-fluid" style="margin-top:100px">
  <div class="row">
    <div class="col-md-3" >
      <div class="fakeimg"  text-align="center" style="background-color:#00004d" ><h3><p >Overall Prediction of 3 countries
      <li>USA(<i class="fa fa-dollar" style='font-size:20px;color:white'></i>)</li>

    <li>london(<i class="fas fa-pound-sign" style='font-size:20px;color:white'></i>)</li>
  <li>india(<i class="fas fa-rupee-sign" style='font-size:20px;color:white'></i>)</li>
 </p></h3><br>
      </div>

    </div>
    <div class="col-md-8" style="background-color:#00004d" >
      <div class="fakeimg" style="background-color:white" borderradius=60px>
        <div class ="col-md-8">
          <canvas  id="canvas" ></canvas>
          </div>
      </div>

    </div>
  </div>
</div>
